<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1>Add Item Below</h1>
    </div>
    <form name="GroceryForm">
        <p><b>Dirty : </b>{{GroceryForm.$dirty}}</p>
        <p><b>Valid : </b>{{GroceryForm.$valid}}</p>
        <div class="alert alert-warning" ng-show="!GroceryForm.$valid">
            <strong>Warning!</strong> Please enter valid item name.
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Grocery item" ng-model="groceryItems.itemName" required>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="GroceryForm.$valid && save()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>
        <div class="form-group">
            <a href="#/" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>
    </form>
</div>